<% layout("layouts/boilerplate.ejs") %>

<div class="row">
	<div class="col-md-6 mx-auto">
		<h1 class="text-center">Edit Campground</h1>
		<form
			action="/campground/<%= campground._id %>?_method=PATCH"
			method="POST"
			novalidate
			class="validated-form"
		>
			<div class="form-group mb-3">
				<label for="title">Title </label>
				<input
					type="text"
					class="form-control"
					id="title"
					name="campground[title]"
					value="<%= campground.title %>"
					required
				/>
			</div>
			<div class="form-group mb-3">
				<label for="description">Description</label>
				<input
					type="text"
					class="form-control"
					id="description"
					name="campground[description]"
					value="<%= campground.description%>"
					required
				/>
			</div>
			<div class="form-group mb-3">
				<label for="price">Price</label>
				<input
					type="number"
					class="form-control"
					id="price"
					name="campground[price]"
					value="<%= campground.price %>"
					required
				/>
			</div>
			<div class="form-group mb-3">
				<label for="img">Image Url</label>
				<input
					type="text"
					class="form-control"
					id="img"
					name="campground[img]"
					value="<%= campground.img %>"
					required
				/>
			</div>
			<button type="submit" class="btn btn-secondary">
				Save Changes
			</button>
		</form>
	</div>
</div>
